.page {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding: 80px;
  font-family: var(--font-geist-sans);
  background-color: #2E3944;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  color: #D3D9D4;
}

.main h1 {
  font-size: large;
}

.main p {
  display: flex;
  text-align: center;
  font-size: medium;
}

.main img {
  border-radius: 50%;
}

.nav {

}

@media (max-width: 600px) {
  .page {
    padding: 32px;
  }

  .main {
    align-items: center;
  }
}
